.hero {
  font-weight: 700;
  text-align: center;
  overflow: hidden;

  h1 {
    font-size: 150px;
    letter-spacing: -0.008em;
    text-align: center;
    margin-top: 4.5rem;
  }

  .watch-jump {
    font-size: 22px;
    display: block;
  }

  figure {
    background-image: url("../images/static_hero_airpodspro__cgozkyv8zgc2_large_2x.jpeg");
    width: 1141px;
    height: 758px;
    background-size: 1141px 758px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
  }

  .hero-text {
    font-size: 64px;
    max-width: 980px;
    margin: 0 auto;
    padding: 8rem 0;
  }

  p:not(:first-child) {
    margin-top: 3rem;
  }

  @media only screen and (max-width: 10240px) {
    & {
      figure {
        left: 50%;
        margin-left: -570.5px;
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    & {
      figure {
        background-image: url("../images/static_hero_airpodspro__cgozkyv8zgc2_large.jpeg");
        background-size: cover;
        background-position: center;
        width: 100%;
        left: 0;
        margin: 0 auto;
      }
    }
  }
}
