.hero {
  font-weight: 700;
  text-align: center;
  overflow: hidden;

  h1 {
    font-size: 150px;
    letter-spacing: -0.008em;
    text-align: center;
    margin-top: 4.5rem;
  }

  .watch-jump {
    font-size: 22px;
    display: block;
    margin: 2rem 0;
  }

  figure {
    background-image: url("../images/static_hero_airpodspro__cgozkyv8zgc2_large_2x.jpeg");
    width: 1141px;
    height: 758px;
    background-size: 1141px 758px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
  }

  .hero-text {
    font-size: 64px;
    max-width: 980px;
    margin: 0 auto;
    padding: 8rem 0;
  }

  p:not(:first-child) {
    margin-top: 3rem;
  }

  @media only screen and (max-width: 10240px) {
    & {
      figure {
        left: 50%;
        margin-left: -570.5px;
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    & {
      h1 {
        font-size: 96px;
        line-height: 1.04167;
        font-weight: 700;
        letter-spacing: -0.008em;
      }

      .hero-text {
        font-size: 48px;
        line-height: 1.08349;
        font-weight: 700;
        letter-spacing: -0.0015em;
        margin-left: auto;
        margin-right: auto;
        width: 692px;
      }

      figure {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        left: 0;
        margin: 0 auto;

        &::after {
          content: "";
          display: block;
          padding-bottom: 66.43295%;
        }
      }
    }
  }

  @media only screen and (max-width: 734px) {
    & {
      h1 {
        font-size: 62px;
        line-height: 1.09703;
        font-weight: 700;
        letter-spacing: 0;
      }

      .hero-text {
        font-size: 32px;
        line-height: 1.1875;
        font-weight: 700;
        letter-spacing: 0;
        padding: 4rem 0;
        width: 87.5%;
      }

      figure {
        background-image: url("../images/static_hero_airpodspro__cgozkyv8zgc2_small.jpeg");

        &::after {
          padding-bottom: 109.1195%;
        }
      }
    }
  }
}
